<h2>Characters</h2>

<p-table [value]="characters">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Birth</th>
      <th>Gender</th>
      <th>Height</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-character>
    <tr>
      <td>{{ character.name }}</td>
      <td>{{ character.birth_year }}</td>
      <td>{{ character.gender }}</td>
      <td>{{ character.height }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-eye"
          class="p-button-rounded p-mr-2"
          (click)="showCharacterDetails(character)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator [rows]="10" [totalRecords]="totalPages" (onPageChange)="paginate($event)"></p-paginator>

<p-dialog
  [(visible)]="characterDialog"
  [style]="{ width: '450px' }"
  header="Character Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div>
      <h3>Name</h3>
      <p>{{ character.name }}</p>
    </div>
    <div>
      <h3>Height</h3>
      <p>{{ character.height }} cm</p>
    </div>
    <div>
      <h3>Mass</h3>
      <p>{{ character.mass }} kg</p>
    </div>
    <div>
      <h3>Eye color</h3>
      <p>{{ character.eye_color }}</p>
    </div>
    <div>
      <h3>Birth year</h3>
      <p>{{ character.birth_year }}</p>
    </div>
    <div>
      <h3>Gender</h3>
      <p>{{ character.gender }}</p>
    </div>
  </ng-template>
</p-dialog>
